<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmulatePreTrialLaser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <EmulatePreTrialLaser.Properties.Settings>
            <setting name="Prefix" serializeAs="String">
                <value>22016B50M</value>
            </setting>
            <setting name="FilePrefix" serializeAs="String">
                <value>gHL</value>
            </setting>
            <setting name="Sufix" serializeAs="String">
                <value>1820N</value>
            </setting>
        </EmulatePreTrialLaser.Properties.Settings>
    </applicationSettings>
</configuration>